@{
    Layout = "_Layout";
}
@model List<ViewIncomeViewModel>
@using HomeBudgetDemo
@using HomeBudgetDemo.Models
@using HomeBudgetDemo.Data
@using HomeBudgetDemo.ViewModels 

<section style="margin-top:25px;" id="features" class="features">


    <div class="container">
        <div class="row">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2 style="text-transform:capitalize;">список доходов</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>

            <div class="container">
                <a asp-controller="home" asp-action="addincome" style="margin-bottom:10px;" class="btn btn-success mb-5">+Добавить новые доходы</a>
                <table class="table table-dark table-striped">
                    <thead class="table-dark">
                        <tr class="table-bordered">
                            <th scope="col">Id</th>
                            <th scope="col">Приход/Расход</th>
                            <th scope="col">Категории</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Комментарии</th>
                            <th scope="col">Дата добавления</th>
                            <th scope="col">Дейсвие</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            double sum = 0;
                            }
                        @foreach (var incom in Model)
                        {
                        <tr class="success">
                            <td>@incom.Id</td>
                            <td>@incom.type</td>
                            <td>@incom.CategoryName</td>
                            <td>@incom.Sum</td>
                            @{ 
                                sum += incom.Sum;
                            }
                            <td>@incom.Comment</td>
                            <td>@incom.Date</td>
                            <td scope="col"> <a asp-controller="home" asp-action="editincome" asp-route-id="@incom.Id" class="btn btn-success"> Редактировать</a></td>
                            <td scope="col"> <a asp-controller="home" asp-action="deleteIn" asp-route-id="@incom.Id" onclick="return confirm('Are you sure delete this?');" class="btn btn-danger">Удалить</a></td>

                        </tr>
                        }

                        <tr>
                            <td colspan="3">Total: </td>
                            
                            <td colspan="3">@sum</td>
                        </tr>
                        </tbody>
                </table>


            </div>
        </div>
    </div>

</section>